[project]
name = "cymbal"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
	"sympy",
	"numpy",
	"scipy",
	"matplotlib",
	"pyopengl",
	"pyflame",
	"opencv-python",
	"pygame>=2.6.1",
]
